@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Garage</h1>
    <p>Learn asp.net <a href="https://docs.microsoft.com/aspnet/core">documentation</a>.</p>
</div>
